body {
	background-image: url(src/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.clockContainer {
	backdrop-filter: blur(5px);
	width: 100vw;
	padding: 10px 0;
}

.clock {
	color: antiquewhite;
	font-size: 6rem;
	font-weight: bold;
	font-family: monospace;
	text-shadow: 3px 3px 5px rgb(1, 24, 30);
	user-select: none;
}
